@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0
}

html{

  scrollbar-width: thin;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

body {
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
